/**
	 * @prop --color-primary: The main color
	 * @prop --color-accent: The accent color
	 * @prop --color-background: The background color
	 * @prop --heading-font-size: Heading font size
	 * @prop --text-font-size: Text font size
	 * @prop --border-radius: Border radius of the card
	 * @prop --a-border-radius: Border radius of the anchor
	 */
:host {
  --color-primary: rgb(80, 63, 157);
	--color-accent: rgb(251, 111, 60);
	--color-background: #ffffff;
  --heading-font-size: 30px;
	--text-font-size: 15px;
	--border-radius: 25px;
	--a-border-radius: 0 25px;
  font-size: 100%; // ~10px
  line-height: 1.6;
  box-sizing: border-box;
	display: block;
  div {
    background: var(--color-background);
    padding: 2em;
    border-radius: var(--border-radius);
    box-shadow: 0 7px 20px rgba(100, 28, 2, 0.135);
    transition: all 300ms ease,
      transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    z-index: 1;
    &.card-is-link {
      cursor: pointer;
    }
    h3 {
      color: var(--color-primary);
      letter-spacing: -0.04em;
      line-height: 1.2;
      font-size: var(--heading-font-size);
    }

    a {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: inherit;
			background-color: var(--color-accent);
			text-align: center;
			svg {
				stroke: var(--color-background);
				width: 30px;
				height: 30px;
				padding-top: 10px;
			}
    }

    p {
      font-size: var(--text-font-size);
      color: var(--color-primary);
    }

    &:hover {
      background-color: var(--color-accent);

      h3 {
        color: var(--color-background);
      }

      p {
        color: hsla(0, 0%, 100%, 0.8);
      }

      a {
				background-color: var(--color-background);
				svg {
					stroke: var(--color-accent)
				}
      }
    }
  }
}
